*{
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

header{
  height: 60px;
  background-color: black;
  color: white;
  font-size: 50px;
}

nav{
  font-size: 20px;
  background-color: #ddd;
  color: black;
  margin-bottom:  10px;
  height: 30px;
}
nav{

}

nav > ol > li{
  display: inline;
  font-weight: bold;
}

nav > ol >li:hover{
  background-color: red;
}

nav>ol>li>a{
  text-decoration: none;
  color: black;
}

#frase{
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  font-style: italic;
}

#frase  p{
  font-size: 50px;
  text-align: center;
}

#contactos{
  border-radius: 5px;
  background-color: #f2f2f2;
}

img{
  margin-top: 30px;
  width: 600px;
  height: 300px;
  margin-bottom: 10px;
}

h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid red;
}

h2{
  text-align: left;
  margin-top:10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f15a22  ;
}

h3{
  text-align: left;
  margin-bottom: 10px;
}


p{
  font-size: 21px;
  text-align: left;
  margin-left: 2px;
  margin-right: 2px;
}



.bloque{
  border-radius: 3px;
  background-color: #ddd;
  margin: 10px 0 10px;
}

.bloque > ul > li{
  margin-left: 50px;
  text-align: left;
  font-size: 20px;
  font-style: italic;

}

legend{
  font-size: 25px;
  margin-bottom: 10px;
}

input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"]{
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="checkbox"]{
  margin-top: 5px;
  margin-bottom: 5px;
    margin-left: 30px;
}

input[type="radio"]{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
}

input[type=submit], input[type=reset]{
  background-color: #34495e;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 10px;
  text-decoration: none;
  margin: 4px 1px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #013243;
}

input[type=reset]:hover {
  background-color: #013243;
}
